@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); /* playfair display font */ 
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap'); /* Tinos font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* Roboto Font */

a:hover, a:visited, a:active, a:link {
    text-decoration: none;
    color: #000;
}

body{
    background: rgb(77,77,77);
    background: linear-gradient(176deg, rgba(77,77,77,1) 0%, rgba(0,0,0,1) 100%) fixed;
}

.return{
    color: #fff;
    padding-bottom: 20px;
    font-family: 'Playfair Display', serif;
}

.main-title{
    color: #fff;
}

.title-block{
    font-family: 'Playfair Display', serif;
    padding-top: 100px;
    color: #AEC9AF;
    padding-bottom: 50px;
}

.article{
    background-color: rgb(115,115,115);
    border: solid #AEC9AF;
    font-family: 'Tinos', serif;
    padding: 25px;
    border-radius: 15px;
    color: white;
}

.article-container{
    padding-bottom: 20px;
}

.byline{
    font-size: 14pt;
    color: white;
}

.byline-story{
    font-size: 18px;
}

.article-title {
    font-family: 'Playfair Display', serif;
    color: white;
}

.story-text{
    color: #fff;
    font-family: 'Tinos', serif;
}

.cutline{
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.dek{
    color: #fff;
    font-family: 'Tinos', serif;
    font-size: 25px;
}

.card {
    background-color: #000;
    color: #fff;
    font-family: 'Tinos', serif;
}

